.single-post
  .content-wrapper
    word-wrap: break-word
    .title-wrapper
      padding: 0
    .posted-on
      display: block
      font-size: 12px
      margin-bottom: 10px
      color: #b3b3b3
    ul
      list-style: none
      padding-left: 20px
      padding-bottom: 0
      margin-bottom: 20px
      li::before
        content: "\2022"
        color: $primary-color
        font-weight: bold
        font-size: 20px
        line-height: 1
        display: inline-block
        width: 1em
        margin-left: -1em
    img
      margin-bottom: 20px
    h2, h3, h4, h5, h6
      color: $primary-color
      margin-bottom: 14px
      &::after
        display: none
  .meta-tags-wrapper
    margin-top: 20px
    ul
      list-style-type: none
      padding: 0
      margin: 0
      li
        display: inline-block
        list-style-type: none
        padding: 0
        margin: 0
        font-size: 14px
        &:before
          display: none
        a
          color: $secondary-color
          background-color: $light-color
          padding: 10px
          &:hover
            color: $primary-color
      .meta-tag-icon
        margin-right: 5px
        background-color: $secondary-color
        color: $light-color
        padding: 10px 10px
        font-size: 14px


@media (max-width: $small)
  .related-posts
    margin-top: 40px
